.form-container {
  margin: 10px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 590px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-content-left {
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 2rem;
  text-align: start;
  width: 80%;
  margin-left:20px;
  margin-bottom: 1rem;
  color: black;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-input-btn {
  width: 40%;
  height: 50px;
  margin-top: 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #fcdc00 ;
}
.form-input-btn:hover {
  cursor: pointer;
  background-color: #FF8D33 ;
  transition: all 0.4s ease-out;
}
